<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bookID</key>
		<string>1567</string>
		<key>bookName</key>
		<string>绝世战祖</string>
		<key>bookAuthor</key>
		<string>陨落星辰</string>
		<key>bookPic</key>
		<string>http://b.hiphotos.baidu.com/baike/w%3D268%3Bg%3D0/sign=f65c80dc8735e5dd902ca2d94efdc0d2/377adab44aed2e73324ae6a28501a18b86d6fa99.jpg</string>
		<key>bookInfo</key>
		<string>说我弱？哼，我有帝王之尊的灵力，王者之气，挥指苍穹，傲视群雄！ 说我强？啊，我只手捏不死仙界小强。 【旁白版】：号称史上最弱仙界皇子的杰，不安其名，屡有奇遇。 此乃命也，运也。 且看其如何来战世上最强之人！</string>
	</dict>
</array>
</plist>
