<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>appName</key>
		<string>上海话三月通:轻轻松松学上海话,上班,沟通无障碍,升职加薪马上来</string>
		<key>appUrl</key>
		<string>https://itunes.apple.com/app/id1107488615</string>
		<key>appImg</key>
		<string>http://is5.mzstatic.com/image/thumb/Purple20/v4/b4/86/13/b486136b-18ba-04fc-149c-694e374330bd/source/175x175bb.jpg</string>
	</dict>
</array>
</plist>
